.idea/
target/
firrtl_black_box_resource_files.f
RamInitSpWf.v
RamSpWf.v
Top.fir
Top.v
Top.anno.json
vivado/*
.bloop/
.DS_Store
.metals/
project/.bloop/
project/metals.sbt
project/project/metals.sbt
/test_run_dir
